streamlit
PyMuPDF
pypdf
pdfplumber
pandas
openpyxl
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
streamlit-cookies-manager
pytesseract
pdf2image
Pillow
reportlab
google-generativeai>=0.5.2
bcrypt
openai
